@import url("./../../Constant.css");

.containerCard {
    width: 230px;
    height: 397px;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    padding-bottom: 24px;
    background-color: var(--primaryWhite);
    overflow: hidden;
}

.containerCard > div:first-child {
    position: relative;
    width: 100%;
    height: 230px;
}
.containerCard > div:first-child > img {
    width: 165.05px;
    height: 147.99px;
    margin: 41.46px 31.81px 40.55px 31.81px;
}

.containerCard > div:first-child > span {
    width: 84px;
    height: 24px;
    display: flex;
    flex-direction: row;
    gap: 6px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 11px;
    right: 9px;
}
.containerCard > div:first-child > span > img {
    width: 24px;
    height: 24px;
    border-radius: 4px;
}

.titleProducts {
    width: 198px;
    height: 47px;
    margin: 0px auto;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
    color: var(--primaryGrayDark);
}

.rating_and_seller_container {
    width: 198px;
    height: 26px;
    margin: 14px auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.rating_and_seller_container > span:first-child {
    width: 35px;
    height: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}
.rating_and_seller_container > span:first-child > p {
    width: 19px;
    font-size: 14px;
    line-height: 14px;
    text-align: right;
    margin-top: 3px;
}
.rating_and_seller_container > span:first-child > img {
    width: 12px;
    height: 12px;
}

.rating_and_seller_container > span:last-child {
    width: 83px;
    height: 26px;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
    padding: 4px 8px 4px 10px;
    color: var(--primaryGray);
    font-size: 12px;
    line-height: 14px;
    text-align: right;
}

.container_price_increase {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    width: 198px;
    height: 36px;
    margin: 0px auto;
}
.container_price_increase > span {
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 8px;
    color: var(--primaryGrayPrice);
    font-size: 14px;
    font-weight: 400;
    line-height: 14px;
    text-align: right;
}
.btn_plus {
    background-color: var(--primaryWhite);
    outline: none;
    width: 35px;
    height: 35px;
    border: 1px solid var(--primaryGreen);
    border-radius: 4px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all ease-in 150ms;
}
.container_price_increase > button > img {
    width: 14px;
    height: 14px;
}
.btn_plus:hover {
    background-color: var(--primaryGreen);
}
.btn_plus:hover > svg path {
    stroke: var(--primaryWhite);
}

.numberHandler {
    width: 70px;
    height: 35px;
    background: var(--primaryWhite);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primaryGreen);
    outline: none;
    border-radius: 4px;
    transition: all ease-in 150ms;
    padding: 0px 4px;
}

.numberHandler > p {
    font-size: 14px;
    line-height: 24px;
    color: var(--primaryGreen);
}

.final_price {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 6px;
}

.final_price > p:first-child {
    color: var(--primaryGray);
    font-size: 10px;
}
.final_price > p:last-child {
    color: var(--primaryGreen);
    font-size: 18px;
    font-weight: 500;
}
