:root {
    --primaryWhite: #ffffff;
    --primaryBlack: #000000;
    --primaryGreen: #80ad01;
    --primaryGrayLight: #eff2e6;
    --primaryGrayLightBackGroundBtn: #d9ddcb;
    --primaryGrayMedium: #6b6b6b;
}
