:root {
    --primaryWhite: #ffffff;
    --primaryBlack: #000000;
    --primaryGreen: #80ad01;
    --primaryGrayLight: #eff2e6;
    --primaryGrayLightBackGroundBtn: #d9ddcb;
    --primaryGray: #878787;
    --primaryGrayPrice: #c4c6c2;
    --primaryGrayMedium: #6b6b6b;
    --primaryGrayDark: #383838;
    --primaryGrayDarkBold: #626754;
}
