@import url("./Constant.css");

@font-face {
    font-family: "IranianSans";
    src: url("./../public/Fonts/IranianSans.woff") format("woff"),
        local("IRANSansX-Regular"), local("iranSansX-Regular"),
        local("IranSansX-Regular"), local("IRANSANSX"), local("iransansx"),
        local("IranSansX-regular");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "IranianSans";
    background-color: var(--primaryWhite);
    font-size: 16px;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.active {
    color: var(--primaryGreen) !important;
    font-weight: bold;
}
