@font-face {
    font-family: "IranianSans";
    src: url("./../public/Fonts/IranianSans.woff") format("woff"),
        local("IRANSansX-Regular"), local("iranSansX-Regular"),
        local("IranSansX-Regular"), local("IRANSANSX"), local("iransansx"),
        local("IranSansX-regular");
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "IranianSans";
}
