@import url("./Constant.css");

@font-face {
    font-family: "IRANSans_FaNum";
    src: url("./Fonts/IRANSans_FaNum_Light.woff2") format("woff2");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url("./Fonts/IRANSans_FaNum.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url("./Fonts/IRANSans_FaNum_Medium.woff2") format("woff2");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "IRANSans_FaNum";
    src: url("./Fonts/IRANSans_FaNum_Bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    font-family: "IRANSans_FaNum";
    background-color: var(--primaryWhite);
    font-size: 16px;
    font-weight: 400;
    cursor: default;
}

a {
    text-decoration: none;
}
li {
    list-style-type: none;
}

.active {
    color: var(--primaryGreen) !important;
    font-weight: 700;
}
